body .pusher {
  color: #356859;
  background-color: #FFFBE6 !important;
}

.main.menu .header {
  font-family: 'Montserrat', sans-serif;
}

.ui.cards .card .content > .header {
  font-family: 'Montserrat', sans-serif;
}

.sidebar .title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.5em;
  margin-top: 1em;
  margin-left: 1em;
  margin-bottom: .25em;
}
.sidebar .subtitle {
  color: #9E9E9E;
  font-weight: 100; 
  margin-bottom: 1.5em; 
}

.ui.fixed.main.menu {
  z-index: 6;
  background-color: #356859;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
}

.sidebar .grid .row {
  padding-left: 8px;
}

.ui.sidebar {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
}

.ui.sidebar {
  background: #FFFFFF;
}

.ui.sidebar .ui.secondary.menu {
  margin: 0;
  padding-right: 0.75em;
}

.ui.secondary.menu .active.item {
  background-color: rgba(53, 104, 89, 0.12);
  color: #356859;
  font-weight: 600;
  border-top-right-radius: 360px !important;
  border-bottom-right-radius: 360px !important;
}

.ui.secondary.menu .active.item:hover {
  background-color: rgba(53, 104, 89, 0.12);
  color: #356859;
}

.ui.secondary.menu .item {
  color: #616161;
}

.ui.secondary.menu .item:hover {
  border-top-right-radius: 360px !important;
  border-bottom-right-radius: 360px !important;
}

.ui.secondary.menu .grid .left.column {
  margin-left: 1em;
}
.ui.secondary.menu .grid .right.column {
  margin-right: 1.5em;
}

.ui.footer.segment {
  margin: 5em 0em 0em;
  padding: 5em 0em;
}

.main.grid {
  margin-top: 2em;
  margin-bottom: 7em;
}
.ui.cards .ui.fluid.card {
  margin-top: 4px;
  margin-bottom: 4px;
}

.ui.cards .card {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.ui.green.button {
  background-color: #356859;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
}

.ui.green.button:hover, .ui.green.button:focus {
  background-color: #418875;
  transition-delay: 0s;
}
.ui.green.button:active {
  background-color: #418875;
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
}

.ui.fab.button.hidden {
  transform: scale(0);
}

.ui.fab.button {
  transform: scale(1);
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2);
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.ui.fab.button:active {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, .14), 0 3px 20px 0 rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
}

.ui.snackbar.segment .right.column {
  font-weight: 900;
  color: #B9E4C9;
}

.ui.snackbar.segment {
  visibility: hidden;
  position: fixed;
  min-width: 96vw;
  margin-left: -48vw;
  left: 50%;
  bottom: 4.5em;
  margin-bottom: 2em;
  background-color: #212121; 
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2);
}

.ui.snackbar.segment.show {
  visibility: visible;
  animation: fadein 0.25s cubic-bezier(0.4, 0.0, 0.2, 1), fadeout 0.2s cubic-bezier(0.4, 0.0, 1, 1) 2.8s;
}

.main.menu .link.item {
  clip-path: circle(35% at 50% 50%);
}


@media(min-width: 1024px) {

  .main.grid {
    margin-left: 2em;
    margin-right: 2em;  
  }
 
  .ui.fab.button {
    bottom: 2rem;
    right: 2rem;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2);
  }

  .ui.snackbar.segment {
    min-width: 600px;
    margin-left: -300px;
    left: 50%;
    bottom: 1em;
    margin-bottom: 1em;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2);
  }

}

/* Snackbar Animations */
@keyframes fadein {
  from {transform: scale(0.96); opacity: 0;}
  to {transform: scale(1); opacity: 1;}
}
@keyframes fadeout {
  from {transform: scale(1); opacity: 1;}
  to {transform: scale(0.99); opacity: 0;}
}

@media only screen and (max-width: 700px) {
  .ui.sidebar {
    min-width: 75vw;
  }
}