.mdc-select {
  display: flex;
  margin: 1rem;
  will-change: scroll-position;
}

.mdc-select .mdc-select__dropdown-icon {
  background: none;
  color: var(--mdc-theme-text-secondary-on-background);
}

.mdc-select:not(.mdc-select--disabled).mdc-select--focused .mdc-floating-label {
  color: var(--mdc-theme-primary);
}

.mdc-select:not(.mdc-select--disabled).mdc-select--focused .mdc-select__dropdown-icon{
  color: var(--mdc-theme-primary);
  transform: rotate(180deg);
}

#year-select {
  margin-top: 2rem;
}

.mdc-button {
  margin: auto;
  margin-bottom: 1rem; 
  display: flex;
}
