:root {
  --mdc-theme-primary: #F9AA33;
  --mdc-theme-background: #FFFBE6;
  --mdc-theme-secondary: #F9AA33;
  --mdc-theme-on-primary: rgba(0, 0, 0, 0.38);
}

.mdc-card .mdc-list-item__text,
.mdc-top-app-bar .mdc-top-app-bar__title,
.mdc-drawer .mdc-drawer__title {
  font-family: 'Raleway', sans-serif;
}

body {
  user-select: none;
  margin: 0;
  display: flex;
  height: 100vh;
  background-color: #F9AA331E;
}
.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
  position: relative;
}

.main-content {
  overflow: auto;
  height: 100%;
}

#app-bar {
  position: absolute;
  margin-top: 8px;
  margin-left: 16px;
  margin-right: 16px;
  height: 56px;
  width: calc(100% - 32px);
  border-radius: 8px;
  background-color: #FFFFFF;
  color: var(--mdc-theme-text-primary-on-light);
  transition: all 0.2s cubic-bezier(0.4, 0.0, 0.2, 1);
}

#app-bar.search-focused {
  margin: 0;
  height: 100%;
  width: 100%;
  border-radius: 0;
}

#app-bar .material-icons {
  color: var(--mdc-theme-text-icon-on-light);
}

.app-fab--absolute {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  will-change: transform;
  transform: scale(1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.app-fab--absolute.hidden {
  transform: scale(0);
}

.mdc-drawer .mdc-drawer__title {
  font-weight: 600;
  color: var(--mdc-theme-primary);
}

.mdc-drawer .mdc-list-item {
  border-radius: 0 36px 36px 0;
  margin-left: 0;
  padding-left: 1em;
}

.mdc-drawer .mdc-list-item--activated {
  color: #F9AA33DD;
}
.mdc-drawer .mdc-list-item--activated .mdc-list-item__graphic {
  color: var(--mdc-theme-primary);
}

.search.mdc-text-field input {
  border: none;
}

.mdc-card {
  margin: 8px;
  border-radius: 8px;
}

.mdc-card .mdc-card__media {
  background-image: url('/images/card.jpg');
}

.mdc-card .mdc-list-item__graphic {
  color: var(--mdc-theme-secondary);
}

.mdc-card .mdc-list-item {
  border-radius: 8px;
  margin: 4px 8px; 
}

.mdc-dialog .mdc-dialog__surface {
  border-radius: 8px;
}

.mdc-dialog .mdc-button__label {
  text-transform: capitalize;
}

@media(min-width: 1024px) {
  .app-fab--absolute {
    bottom: 2rem;
    right: 2rem;
  }
  .mdc-card {
    margin-left: 25%;
    margin-right: 25%;
  }
}
